.app-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 7px;
  width: 100%;
  max-width: 260px;
  min-width: 160px;
}
.app-card:hover .app-card-body-right i {
  visibility: visible;
}
.app-card-body {
  display: flex;
  justify-content: space-between;
}
.app-card-body-left {
  display: flex;
  width: calc(100% - 30px);
  flex-direction: column;
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 10px;
}
.app-card-body-job {
  font-weight: bold;
  font-size: 17px;
  text-transform: capitalize;
  text-overflow: ellipsis;
  overflow: hidden;
}
.app-card-body-company {
  text-transform: capitalize;
  overflow: hidden;
  text-overflow: ellipsis;
}
.app-card-body-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6px;
  padding-right: 4px;
  display: hidden;
  width: 30px;
}
.app-card-body-right i {
  margin-bottom: 3px;
  height: 25px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  cursor: pointer;
  visibility: hidden;
  background-color: white;
  color: black;
}
.app-card-body-right i:hover {
  color: black;
  box-shadow: inset 1px 1px 3px rgb(187, 187, 187), inset -1px -1px 2px gray;
}
.app-card-footer {
  height: 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  overflow: hidden;
  overflow: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.app-card-footer-content {
  width: 100%;
  font-size: 11px;
  text-align: right;
  padding-right: 9px;
}
.app-card-footer-content > div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
